@use 'sprucecss/scss/spruce' as *;

.toc {
  @include layout-stack('s');

  &__title {
    font-size: font-size('h4');
  }

  &__navigation {
    ol {
      @include clear-list;
      @include layout-stack('xs');

      li {

        ol {
          font-size: 0.9rem;
          margin-left: 1rem;

          li {

            ol {
              font-size: 0.8rem;
              margin-left: 1rem;

              li {
                list-style: square;
                margin-block-start: 0;
              }
            }
          }
        }
      }
    }

    a {
      color: color('text');
      text-decoration: none;

      &:hover,
      &:focus {
        color: color('primary');
      }
    }
  }
}
